[submodule "src/profile"]
	path = src/profile
	url = git@github.com:EsotericEnderman/EsotericEnderman.git
[submodule "public/profile"]
	path = public/profile
	url = git@github.com:EsotericEnderman/EsotericEnderman.git
