[submodule "src/assets/profile"]
	path = src/assets/profile
	url = git@github.com:EsotericEnderman/EsotericEnderman.git
[submodule "public/assets/profile"]
	path = public/assets/profile
	url = git@github.com:EsotericEnderman/EsotericEnderman.git
