.repository {
  background-color: #28292b;
  display: flex;
  flex-direction: column; /* Change to column if you want vertical stacking */
  gap: 5px; /* Adds spacing between elements */
  margin-bottom: 10px;
  padding: 10px;
}

.repository-name {
  font-size: larger;
  font-family: monospace;
  margin: 0; /* Reset browser default margins */
}

.repository-description {
  font-family: monospace;
  margin: 0; /* Reset browser default margins */
}
