.repository {
  background-color: #28292b;
  display: flex;
  flex-direction: column; /* Stacks name and description vertically */
  align-items: flex-start; /* Aligns items to the left */
  gap: 5px; /* Adds spacing between elements */
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.repository-name {
  font-style: normal;
  color: white;
  text-decoration: none;
  font-size: larger;
  font-family: monospace;
  margin: 0; /* Reset inherent margins */
}

.repository-description, .repository-status {
  font-family: monospace;
  margin: 0; /* Reset inherent margins */
}

.repository-status-maintained {
  color: #007ec6;
}

.repository-status-completed {
  color: #97ca00;
}

.repository-status-abandoned {
  color: #e05d44;
}

.repository-status-unfinished {
  color: #dfb317;
}
