.repository {
  background-color: #28292b;
  display: flex;
  margin-bottom: 10px;
  padding: 0px;
  justify-content: left;
}

.repository-name {
  font-size: larger;
  margin-left: 10px;
  margin-top: 10px;
  font-family: monospace;
}

.repository-description {
  margin-left: 10px;
  margin-top: 10px;
  font-family: monospace;
}
